body {
    font-family: Arial, sans-serif;
}

#apiDataTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#apiDataTable th, #apiDataTable td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

#apiDataTable th {
    background-color: #f2f2f2;
}

#apiDataTable tbody tr:hover {
    background-color: #f5f5f5;
}
/* #loader {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    font-size: 18px;
    font-weight: bold;
} */
.loader {
    border: 8px solid #14d69f;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto; 
    display: none; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
